WOT-iOS.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
WOT-iOS.xcworkspace/xcuserdata/pavel_yeshchyk.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
WOT-iOS/Pods/*
**/xcuserdata/*
**/xcshareddata/*
**/xcuserdata/*
